.hero {
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: bottom center;
  padding-top: 20vh;
  padding-bottom: 25vh;
}

.about-title {
  background: url(../img/about-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 45w;
}

.about-text {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.band-member {
  margin-bottom: 1.5em;
}

.band-member-name {
  font-family: $sans;
  text-transform: uppercase;
}

.band-member-position {
  color: $gray-light;
  margin-bottom: 0.25em;
}